---
import { basics } from '@cv'

const { beian } = basics
---

<div
  class='slide-enter flex w-full justify-center md:col-span-6 print:hidden text-center pb-12'>
  <div class='flex items-center space-x-0 text-xs opacity-50'>
    <span class='gap-1 text-center no-underline'>
      <p class='mt-3 text-center font-mono'>
        <span class='font-black'></span><a
          class='font-black'
          href='https://github.com/fayezzouari/portfolio-new-v'>
          <span class='underline'>Portfolio</span>
        </a> - <a
          class='font-black'
          href='https://github.com/fayezzouari'>
          <span class='underline'>Fayez Zouari</span>
        </a>
      </p>
      <p class='mt-3 text-center'>2025 @ Tunis</p>
    </span>
  </div>
</div>
